html {
  scroll-behavior: smooth;
}

body {
  background-color: #f8edf7;
  font-family: "Chakra Petch", sans-serif;
}

.boton {
  display: inline-block;
  font-family: "Chakra Petch", sans-serif;
  border: 1px solid #110038;
  padding: 8px 16px 12px;
  background-color: #f7c9f3;
  box-shadow: 2px 2px inset #ffffff, 0 0 0px 2px inset #997d97;
  height: 15px;
  font-size: 16px;
  margin-right: 16px;
  cursor: pointer;
}
.boton:hover {
  background-color: #997d97;
}

.gradient {
  width: 100%;
  height: 23px;
  background-image: linear-gradient(270deg, #f7c9f3, #4180f6);
  color: #ffffff;
  display: flex;
  margin: 1px;
  box-shadow: 0px 1px #110038;
}
.gradient p {
  font-family: "Chakra Petch", sans-serif;
  font-size: 14px;
  align-self: center;
  margin-left: 5px;
}

.header {
  margin: 35px 90px 15px 90px;
  display: flex;
  justify-content: space-between;
}
.header .botones {
  position: relative;
  left: 20px;
}
.header .botones .anchor {
  text-decoration: none;
  color: #110038;
}
.header .botones .menu {
  position: absolute;
  left: 133px;
  display: none;
  flex-direction: column;
  background: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  width: 170px;
  height: 102px;
  align-items: center;
  justify-content: space-around;
}
.header .botones .menu .boton {
  width: 150px;
  height: 36px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0f0f0;
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
}
.header .botones .menu .boton:hover {
  background-color: #ffffff;
  color: #b4b4b4;
}
.header .botones .menu .boton .p {
  text-align: center;
}
.header .botones label {
  position: relative;
  right: 20px;
}
.header .botones label a {
  text-decoration: none;
}
.header .botones label a span {
  text-decoration-line: underline;
}

.desplegable {
  position: relative;
  right: 19px;
  width: 5px;
}
.desplegable i {
  position: relative;
  right: 2px;
}

.buscador {
  margin: 35px 90px 15px 90px;
  box-shadow: 2px 2px 0 0 #ffffff inset;
}
.buscador .gradient {
  box-shadow: 2px 2px 0 0 #ffffff inset;
}
.buscador .historial {
  display: flex;
  height: 70px;
}
.buscador .historial .botonHistorial {
  display: inline-block;
  line-height: 32px;
  font-family: "Chakra Petch", sans-serif;
  padding: 1px 16px 12px;
  background: #4180f6;
  border: 1px solid #4c2f99;
  box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
  height: 15px;
  font-size: 16px;
  margin-right: 16px;
  margin-top: 20px;
  overflow: hidden;
  cursor: pointer;
}
.buscador .historial .botonHistorial:hover {
  background-color: #997d97;
}
.buscador .gris {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color: #e6e6e6;
  height: 77px;
  box-shadow: 2px 0 0 0 #ffffff inset, 0 0 2px 0 #997d97 inset;
}
.buscador .gris .input {
  width: 950px;
  height: 48px;
  font-size: 22px;
  display: block;
}
.buscador .gris .buscar {
  color: #b4b4b4;
  background-color: #e6e6e6;
  font-size: 18px;
  padding: 9px 16px 16px;
}
.buscador .gris .buscar:hover {
  background-color: #997d97;
}
.buscador .gris .dark-botonBuscar {
  background: #b4b4b4;
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
  color: #8f8f8f;
}
.buscador .dark-gris {
  background: #b4b4b4;
  box-shadow: inset -2px -2px 0 0 #8f8f8f, inset 2px 2px 0 0 #ffffff;
}

.gris2 {
  width: 100%;
  height: 160px;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  background: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
}
.gris2 .elegida {
  display: block;
  background: #f0f0f0;
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
  width: 80%;
  height: 36px;
  position: relative;
  left: 24px;
}
.gris2 .elegida p {
  margin: 8px;
}

.resultado,
.sugerencias,
.tendencias {
  margin: 40px 90px 15px 90px;
}
.resultado .input,
.sugerencias .input,
.tendencias .input {
  height: 30px;
  font-size: 18px;
  font-family: "Chakra Petch", sans-serif;
  padding: 12px 7px 0px 10px;
  background: #fffafe;
  border: 1px solid #e6bbe2;
  box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
}
.resultado .cuadros,
.sugerencias .cuadros,
.tendencias .cuadros {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.resultado .cuadros img,
.sugerencias .cuadros img,
.tendencias .cuadros img {
  max-height: 250px;
  margin-bottom: 2px;
}
.resultado .cuadros .cuadro,
.sugerencias .cuadros .cuadro,
.tendencias .cuadros .cuadro {
  position: relative;
  width: 280px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  background: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  height: 100%;
}
.resultado .cuadros .cuadro .gradient,
.sugerencias .cuadros .cuadro .gradient,
.tendencias .cuadros .cuadro .gradient {
  display: flex;
  justify-content: space-between;
  width: 276px;
  margin-left: 2px;
}
.resultado .cuadros .cuadro .gradient img,
.sugerencias .cuadros .cuadro .gradient img,
.tendencias .cuadros .cuadro .gradient img {
  width: 16px;
  height: 14px;
  margin: 4px;
}
.resultado .cuadros .cuadro img,
.sugerencias .cuadros .cuadro img,
.tendencias .cuadros .cuadro img {
  max-height: 250px;
  width: 276px;
  margin-left: 2px;
}
.resultado .cuadros .cuadro .btnRandom,
.sugerencias .cuadros .cuadro .btnRandom,
.tendencias .cuadros .cuadro .btnRandom {
  background: #4180f6;
  border: 1px solid #4c2f99;
  box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  line-height: 35px;
  width: 81px;
  height: 34px;
  position: absolute;
  bottom: 15px;
  left: 15px;
  cursor: pointer;
}

.resultado .cuadros img {
  margin-bottom: 30px;
}

.tendencias .cuadros img {
  margin-bottom: 30px;
}

.dark-body {
  background-color: #110038;
}

.dark-gradient {
  background-image: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%);
  box-shadow: 0 1px 0 0 #110038;
}

.dark-botones {
  background: #ee3efe;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
  color: #ffffff;
}

.gradient {
  width: 100%;
  height: 23px;
  background-image: linear-gradient(270deg, #f7c9f3, #4180f6);
  color: #ffffff;
  display: flex;
  margin: 1px;
  box-shadow: 0px 1px #110038;
}
.gradient p {
  font-family: "Chakra Petch", sans-serif;
  font-size: 14px;
  align-self: center;
  margin-left: 5px;
}
